{% extends "/index/card/card_base.html" %}
{% block module_title %}政府机构{% endblock %}

{% block body %}
	
<style type="text/css">
.tg  {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#999;
	margin:0px auto;
}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#444;
	background-color:#F7FDFA;
}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:1px;
	overflow:hidden;
	word-break:normal;
	border-color:#999;
	color:#fff;
	background-color:#26ADE4;
}
.tg .tg-qv16{
	font-weight:bold;
	font-size:16px;
	text-align:center;
	vertical-align:top
}
.tg .tg-c7d8{
	font-weight:bold;
	font-size:16px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
	text-align:center;
	vertical-align:top
}
.tg .tg-amwm{
	font-weight:bold;
	text-align:center;
	vertical-align:top;
}
.tg .tg-yw4l{
	vertical-align:top;
}
@media screen and (max-width: 767px) {
	.tg {width: auto !important;}
	.tg col {width: auto !important;}
	.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}
}
.blueBlock {
		float:left;
		width:9px;
		height:26px;
		background-color: #104F87;
		margin-left: 0%;
		margin-top: 0%;
		margin-right: 0.6%;
}
.blueBlock_title {
		color: #104F87;
		font-size:28px;
/*  font-weight: bolder;
*/  font-family: Microsoft YaHei;
		margin-top: 4px;
		margin-left: 6px;
		float:left;
}
a{
	cursor: pointer;
}
</style>

<script language="JavaScript" type="text/javascript">
    <!--
        var a = document.getElementsByTagName("A");
        for(var i = 0;i < a.length;i++){
            a[i].target = "_blank";
        }
    //-->
</script>

<div style="width:100%;padding-top:30px;padding-bottom:20px;margin-left:-80px;">

	<img src="/static/img/card/turkey_flag.jpg" style="width:50px;float:left;padding-bottom:20px;">
	<p class="blueBlock_title">土耳其政府机构一览</p>
	
</div>

<div class="tg-wrap" style="margin-left:-40px;">
  <table class="tg" style="undefined;table-layout: fixed; width: 1181px;margin-left:-50px;">
	<colgroup>
	<col style="width: 100px">
	<col style="width: 280px">
	<col style="width: 150px">
	<col style="width: 89px">
	<col style="width: 199px">
	<col style="width: 91px">
	<col style="width: 91px">
	<col style="width: 181px">
	</colgroup>
	  <tr>
	    <th class="tg-c7d8">部门名称</th>
	    <th class="tg-qv16">组织架构</th>
	    <th class="tg-qv16">所在地</th>
	    <th class="tg-qv16">责任人</th>
	    <th class="tg-qv16">官方网址</th>
	    <th class="tg-qv16">传真</th>
	    <th class="tg-qv16">电话</th>
	    <th class="tg-qv16">邮箱</th>
	  </tr>
	  <tr>
	    <td class="tg-amwm">总统府</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Cumhurbaşkanlığı Külliyesi Beştepe 06560 ÇANKAYA ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l"><a href="/news/person_detail/president_now" target="_blank" title="埃尔多安">埃尔多安</a></td>
	    <td class="tg-yw4l"><a href="http://www.tccb.gov.tr" target="_blank">http://www.tccb.gov.tr/</a></td>
	    <td class="tg-yw4l">+90 3125255831</td>
	    <td class="tg-yw4l">+90 3125255555</td>
	    <td class="tg-yw4l"><a href="mailto:Emailcumhurbaskanligi@tccb.gov.tr">Emailcumhurbaskanligi@<br>tccb.gov.tr</a></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">大国民议会</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">TBMM 06543 Bakanlıklar Ankara / TÜRKİYE</td>
	    <td class="tg-yw4l"><a href="#">İSMAİL KAHRAMAN</td>
	    <td class="tg-yw4l"><a href="http://www.tbmm.gov.tr">http://www.tbmm.gov.tr/</td>
	    <td class="tg-yw4l">+90 3124206909</td>
	    <td class="tg-yw4l">+90 3124205000</td>
	    <td class="tg-yw4l">bilgiedinme@tbmm.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">总理府</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Vekaletler Caddesi Başbakanlık Merkez Bina Bakanlıklar 06573 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l"><a href="#">耶尔德勒姆</td>
	    <td class="tg-yw4l"><a href="http://www.basbakanlik.gov.tr/">http://www.basbakanlik.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3124221000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">总参谋部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Bakanlıklar   Çankaya ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Hulusi AKAR</td>
	    <td class="tg-yw4l">http://www.tsk.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">gnkur@tsk.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">内政部</td>
	    <td class="tg-yw4l">包含土木工程部、战略发展部、法律顾问、人事局、教育署、行政和财政事务部、信息处理部、欧洲合作与对外关系部、走私情报行动和收集信息部、内部审计部、省级行政管理总局、地方行政管理总局、人口和公民事务管理总局、灾难和紧急情况处理中心、协会</td>
	    <td class="tg-yw4l">İnönü Bul. Bakanlıklar/ ANKARA 06644 TÜRKİYE</td>
	    <td class="tg-yw4l">Süleyman SOYLU</td>
	    <td class="tg-yw4l">http://www.icisleri.gov.tr</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3124224000</td>
	    <td class="tg-yw4l">bilgiislem@icisleri.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">外交部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Dr. Sadık Ahmet Cad. No:8 Balgat 06100 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Mevlüt Çavuşoğlu</td>
	    <td class="tg-yw4l">http://www.mfa.gov.tr</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3122921000</td>
	    <td class="tg-yw4l">info@mfa.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">财政部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Dikmen cad. No : 2 06450 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">http://www.maliye.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3124152900</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">教育部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">(Merkez Bina): Atatürk Bulvarı Bakanlıklar ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">İsmet YILMAZ</td>
	    <td class="tg-yw4l">http://www.meb.gov.tr/</td>
	    <td class="tg-yw4l">+90 3124177027</td>
	    <td class="tg-yw4l">+90 3124191410 (20 hat)</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">环境部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Mustafa Kemal Mahallesi Eskişehir Devlet Yolu (Dumlupınar Bulvarı) 9. km. (Tepe Prime Yanı) No: 278 06573 ÇANKAYA ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">http://www.csb.gov.tr/turkce/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3124101000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">卫生部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Mithatpaşa Cad. No : 3 Sıhhiye 06434 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">RECEP AKDAĞ</td>
	    <td class="tg-yw4l">http://www.saglik.gov.tr</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3125851000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">交通、航运和通讯部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Hakkı Turayliç Caddesi No:5 Emek 06510 TÜRKİYE</td>
	    <td class="tg-yw4l">AHMET ARSLAN</td>
	    <td class="tg-yw4l">http://www.ubak.gov.tr/</td>
	    <td class="tg-yw4l">+90 3122124930</td>
	    <td class="tg-yw4l">+90 3122031000</td>
	    <td class="tg-yw4l">bilgi@ubak.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">食品、农业和畜牧业部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Eskişehir Yolu 9 km. Lodumlu ANKARA ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">FARUK ÇELİK</td>
	    <td class="tg-yw4l">http://www.tarim.gov.tr/</td>
	    <td class="tg-yw4l">+90 3122863964</td>
	    <td class="tg-yw4l">+90 3122873360</td>
	    <td class="tg-yw4l">bilgiedinme@tarim.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">劳动和社会保障部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">İnönü Bulvarı No:42 Emek 06520 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Mehmet Müezzinoğlu</td>
	    <td class="tg-yw4l">http://www.calisma.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3122966000</td>
	    <td class="tg-yw4l">iletisim@csgb.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">科学、 工业和技术部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Mustafa Kemal Mahallesi Dumlupınar Bulvarı (Eskişehir Yolu 7.Km) 2151.Cadde No:154 Çankaya /ANKARA 06510<br>TÜRKİYE</td>
	    <td class="tg-yw4l">Faruk ÖZLÜ</td>
	    <td class="tg-yw4l">http://www.sanayi.gov.tr/</td>
	    <td class="tg-yw4l">+90 3122196738</td>
	    <td class="tg-yw4l">+90 3122015000</td>
	    <td class="tg-yw4l">webmaster@sanayi.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">能源和自然资源部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">İnönü Bulvarı No:27 Bahçelievler 06100 Çankaya ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Berat ALBAYRAK</td>
	    <td class="tg-yw4l">http://www.enerji.gov.tr/</td>
	    <td class="tg-yw4l">+90 3122225760</td>
	    <td class="tg-yw4l">+90 3122126420</td>
	    <td class="tg-yw4l">bilgi@enerji.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">文化旅游部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Atatürk Bulvarı No: 29 Opera / Ulus <br>Altındağ ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Nabi Avcı</td>
	    <td class="tg-yw4l">http://www.kultur.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3123090850</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">森林和水利部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Türkiye Cumhuriyeti Orman ve Su İşleri Bakanlığı, Beştepe Mahallesi Alparslan Türkeş Caddesi No: 71 06510 YENİMAHALLE ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Veysel EROĞLU</td>
	    <td class="tg-yw4l">http://www.ormansu.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3122075000</td>
	    <td class="tg-yw4l">bilgiedinme@ormansu.gov.tr</td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">家庭和社会政策部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Eskişehir Yolu Söğütözü Mahallesi 2177.Sokak No:10/A 8.Kat Çankaya/ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Fatma Betül SAYAN KAYA</td>
	    <td class="tg-yw4l">http://www.aile.gov.tr</td>
	    <td class="tg-yw4l">+90 3127055349</td>
	    <td class="tg-yw4l">+90 3127054000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">欧盟事务部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Mustafa Kemal Mah. 6. Cadde No: 4 Bilkent 06800 Çankaya ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">ÖMER ÇELİK</td>
	    <td class="tg-yw4l">http://www.ab.gov.tr</td>
	    <td class="tg-yw4l">+90 3122181464</td>
	    <td class="tg-yw4l">+90 3122181300</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">经济部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">İnönü Bulvarı No:36 Emek / Ankara 06510 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Nihat Zeybekci</td>
	    <td class="tg-yw4l">http://www.ekonomi.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3122047500</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">青年与体育部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Örnek Mahallesi Oruç Reis Caddesi No:13 Altındağ / Ankara TÜRKİYE</td>
	    <td class="tg-yw4l">Akif Çağatay KILIÇ  </td>
	    <td class="tg-yw4l">http://www.gsb.gov.tr/</td>
	    <td class="tg-yw4l">+90 3125966010</td>
	    <td class="tg-yw4l">+90 3125966000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">海关和贸易部</td>
	    <td class="tg-yw4l">1.下设中央机构、国外机构和地方机构。中央机构包括欧盟和对外关系总局（Avrupa birliğive dış ilişkiler genel müdürlüğü）、媒体与公共关系部（basın ve halkla ilişkiler müşavirliği）、数据处理部（Bilgi İşlem Dairesi Başkanlığı）、支持服务部（Destek Hizmetleri Dairesi Başkanlığı）、教育部（Eğitim Dairesi Başkanlığı）、商人与手工业总局（Esnaf ve Sanatkarlar Genel Müdürlüğü）、海关总局（Gümrükler Genel Müdürlüğü）、海关保护总局（Gümrükler Muhafaza Genel Müdürlüğü）、法律处（Hukuk Müşavirliği）、内部审计委员会（İç Denetim Birimi Başkanlığı）、国内贸易总局（İç Ticaret Genel Müdürlüğü）、合作管理总局（Kooperatifçilik Genel Müdürlüğü）、顾问处（Müsteşarlık）、人事部（Personel Dairesi Başkanlığı）、风险管理与控制总局（Risk Yönetimi ve Kontrol Genel Müdürlüğü）、战略发展部（Strateji Geliştirme Başkanlığı）、消费者保护和市场监督管理总局（Tüketicinin Korunması ve Piyasa Gözetimi Genel Müdürlüğü）等<br>2.副部长Fatih ÇİFTCİ </td>
	    <td class="tg-yw4l">Üniversiteler Mah. Dumlupınar Bulvarı No:151 6800 ÇANKAYA ANKARATÜRKİYE</td>
	    <td class="tg-yw4l">Bülent TÜFENKCİ</td>
	    <td class="tg-yw4l">https://www.gtb.gov.tr/</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">+90 3124491000</td>
	    <td class="tg-yw4l"></td>
	  </tr>
	  <tr>
	    <td class="tg-amwm">发展部</td>
	    <td class="tg-yw4l"></td>
	    <td class="tg-yw4l">Necatibey Cad. No.110/A 06100 Yücetepe-ANKARA 06100 ANKARA TÜRKİYE</td>
	    <td class="tg-yw4l">Lütfi ELVAN</td>
	    <td class="tg-yw4l">http://www.kalkinma.gov.tr/</td>
	    <td class="tg-yw4l">+90 3122946877</td>
	    <td class="tg-yw4l">+90 3122945000</td>
	    <td class="tg-yw4l">bilgi@kalkinma.gov.tr</td>
	  </tr>
	</table></div>


{% endblock %}