{% extends "/index/card/card_base.html" %}
{% block module_title %}公司详情{% endblock %}
{% block body %}

<style type="text/css">
.basicInfo_head{
    width: 90px;
    padding: 0 5px 0 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #999;
}
.abstract_tbl_wrap {
        margin: 10px 35px;
        overflow: hidden;
}
.abstract_tbl {
    width: 100%;
    margin-top: -1px;
    margin-top: -5px;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}
.abstract_list th {
        font-weight: bold;
        width: 90px;
        line-height: 27px;
        border-top: 1px dashed #dedfe1;
        text-align: left;
        vertical-align: top;
}
.abstract_list td {
        line-height: 27px;
        border-top: 1px dashed #dedfe1;
}
.personTxt p {
        line-height: inherit;
        margin: 0.5em 0;
        display: block;
        font-size: 16px;
        line-height: 1.6;
}
.blueBlock {
        float:left;
        width:9px;
        height:26px;
        background-color: #104F87;
        margin-left: 0%;
        margin-top: 0%;
        margin-right: 0.6%;
}
.blueBlock_title {
        color: #104F87;
        font-size:24px;
/*  font-weight: bolder;
*/  font-family: Microsoft YaHei;
        margin-top: 2px;
}
hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
        border-top: 1px solid #aaa;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}
a{
    cursor: pointer;
}

.external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(/static/img/card/outLine.svg);
    padding-right: 13px;
}

ol .references li:target, sup.reference:target, span.citation:target {
        background-color: #DEF;
   }
   .personTxt li {
    margin-top: 5px;
   }
   .personTxt li:before {
        display: inline-block;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #ccc;
        margin-right: 10px;
   }
   .personTxt b,.personTxt .bl {
    float: right;
   }
#tabInfo {
    border: 1px solid #000000;
    margin: 30px 0px 50px 0px;
    border-collapse: collapse;
}
#tabInfo tbody {
        display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
#tabInfo tr th {
    text-align: center;
    font-size: 15px;
    padding: 0px 5px;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    background: #E5B8B7;
}
#tabInfo tr td {
    text-align: center;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    line-height: 18px;
}
</style>


<div class="panel panel-primary" style="margin-top: 20px;">
    <div class="panel-heading" style="height: 50px !important;">
        <h3 class="panel-title" style="font-size: 26px;padding: 2px;font-weight: bolder;float: left;">青山控股集团有限公司</h3>
    </div>
        <!-- 个人经历 -->
        <div style="margin:30px 30px;font-size: 0.938em;">
                <div class="blueBlock"></div><p class="blueBlock_title" style="margin-top: 2px !important;">公司简介</p>    
                <hr style="color: #aaa;">
                <div class="personTxt">
                        <p><a href="#">青山控股集团有限公司</a>，成立于2003年，法人是张积敏<br/>位于浙江省温州市龙湾区永中青山村，注册资本为<a href="#">150,000.00（万元）</a></p>
                        <p>公司现处于在营状态,主要经营对外投资:<br/>
                            <a href="#">制造</a>：金属材料、金属焊接材料、五金交电、汽车配件、电子产品、中低压阀门、五金管件、建筑材料；<br/>
                        <a href="#">销售</a>：化工原料（不含危险化学品）、汽车（不含小轿车）<br/>
                        <a href="#">普通货物仓储</a>:机械设备维修；计算机集成系统开发研制、工程安装（不含互联网）<br/>
                        <a href="#">信息</a>（不含金融、证券、期货）咨询服务、企业管理咨询服务、投资管理咨询服务、工程技术咨询服务<br/><a href="#">汽车租赁</a>:自营和代理货物进出口、技术进出口。<br/>
                             </p>
                        
                </div>
        </div>

        <!-- 外交政策 -->
        <div style="margin:50px 30px;font-size: 0.938em;">
                <div class="blueBlock"></div><p class="blueBlock_title" style="margin-top: 2px !important;">公司投资项目</p>    
                <hr style="color: #aaa;">
                <div class="personTxt">
                        <p>  
                            <a href="#">青山控股集团有限公司</a>走出去的第一个项目是2016年投资在【 <a href="#">土耳其</a>】的
                            <a href="#">瑞浦土耳其金属贸易股份有限公司</a>。该项目的主要经营范围是“镍铬合金工业生产和焦炭工业生产、不锈钢压延制品等”。截至2016年， <a href="#">青山控股集团有限公司</a>在境外总共投资了 <a href="#">1</a> 个项目。</p>
                </div>
        </div>


    

        <!-- 参考文献 -->
        <div style="margin:50px 30px;font-size: 0.938em;width:90%;">
                <div class="blueBlock"></div><p class="blueBlock_title" style="margin-top: 2px !important;">投资情况  </p>    
                <hr style="color: #aaa;width:100%;">
                <div class="personTxt" style="margin:0 auto;">
                      <p style="margin:0 auto;text-align:center;">青山控股集团有限公司在境外投资的国家或地区主要集中在 土耳其(100.00 %)区域，具体如下图所示。</p>
                      <div id="circle" style="width:500px;height:400px;margin:0 auto;"></div>
                    
                </div>
                <div class="personTxt" style="margin:0 auto;">
                      <p style="margin:0 auto;text-align:center;">2016年期间，青山控股集团有限公司在境外的投资情况是2016年投资1次。具体如下图所示：</p>
                      <div id="line" style="width:800px;height:400px;margin:0 auto;"></div>
                    
                </div>
                <div class="personTxt" style="margin:0 auto;">
                      <p style="margin:0 auto;text-align:center;font-weight:900;">青山控股集团有限公司在境外最近投资的1个项目</p>
                      <table id="tabInfo" border="0" cellspacing="0" frame="void" width="100%">
                        <tbody><tr style="line-height: 30px;">
                            <th width="300">
                                公司名称
                            </th>
                            <th width="120">
                                投资地区
                            </th>
                            <th width="100">
                                时间
                            </th>
                            <th width="450">
                                经营范围
                            </th>
                        </tr>
                            <tr>
                                <td style="padding: 5px 3px 5px 3px;">瑞浦土耳其金属贸易股份有限公司
                                </td>
                                <td>土耳其
                                </td>
                                <td>2016-05-31
                                </td>
                                <td>镍铬合金工业生产和焦炭工业生产、不锈钢压延制品等
                                </td>
                            </tr>
                    </tbody>
                </table>

                    
                    
                </div>
                 
        </div>
         
            



</div>


<script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
<script type="text/javascript">

        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('circle')); 
        
        var option = {
    title : {
        text: '青山控股集团有限公司投资地区统计-（2016年-2016年）',
        subtext: '数据来源：知企业网',
        x:'center'
    },
    tooltip : {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
    },
    legend: {
        orient : 'vertical',
        x : 'right',
        data:['']
    },
    toolbox: {
        // show : true,
        feature : {
            // mark : {show: true},
            // dataView : {show: true, readOnly: false},
            magicType : {
                // show: true, 
                type: ['pie', 'funnel'],
                option: {
                    funnel: {
                        x: '25%',
                        width: '50%',
                        funnelAlign: 'left',
                        max: 2557
                    }
                }
            },
            // restore : {show: true},
            // saveAsImage : {show: true}
        }
    },
    calculable : true,
    series : [
        {
            name:'访问来源',
            type:'pie',
            radius : '55%',
            center: ['50%'],
            data:[
                {value:2557, name:'土耳其'},
                          
            ]
        }
    ]
};
                    

        // 为echarts对象加载数据 
        myChart.setOption(option); 

       
    </script>

<script type="text/javascript">
 var myChart = echarts.init(document.getElementById('line')); 
        
        var option = {
                title : {
                    text: '青山控股集团有限公司投资轨迹统计-（2016年-2016年）',
                    subtext: '数据来源：知企业网',
                    x:'center'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['投资次数'],
                    x: 'right'
                },
                toolbox: {
                    // show : true,
                    feature : {
                        // mark : {show: true},
                        // dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        // restore : {show: true},
                        // saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ['2015年','2016年']
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel : {
                            formatter: '{value}'
                        }
                    }
                ],
                series : [
                    {
                        name:'投资次数',
                        type:'line',
                        data:[0,1]
                       
                    }
                ]
            };

                    

        // 为echarts对象加载数据 
        myChart.setOption(option); 
</script>




{% endblock body %}
