        .form {
            width:180px; 
            padding:5px;
            float:left;
            }
        
        .select{
            width: 70px;
            float:left;
        }
        .cata_name{
            float:left;
            height: 30px;
            line-height: 30px;
            text-indent: 1em;
            margin-right: 10px;
            padding-right: 4px;
        }
        .f-sort{
            float: left;
            width:100%;
            margin-left:5px;
            margin-top:3px;
            padding-bottom: 15px;
            border-bottom: 1px solid #ccc;

        }
        .f-sort a{
            float: left;
            padding: 0 10px;
            height: 30px;
            border: 1px solid #CCC;
            line-height: 30px;
            margin-right: -1px;
            text-decoration: none;
            background: #FFF;
            color: #333;
            cursor: pointer;
        }
        .f-sort a.curr{
            background: #e4393c;
            color: #FFF;
            border-color: #e4393c;
        }
        .f-sort a.curr:hover{
            background: #e4393c;
            color: #FFF;
            border-color: #e4393c;
        }
        

        .f-sort a:hover {
		    position: relative;
		    text-decoration: none;
		    border-color: #e4393c;
		    color: #e4393c;
		}
        .news_box {
            width:90%;
            margin-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        .sns_box {
            width:90%;
            margin-bottom: 5px;
            border-bottom: 1px solid #ccc;
        }
        .news_box a{
            cursor:pointer;
        }
        .news_box h4{
            font-size: 18px;
        }
        .news_box h5{
            font-size: 12px;
        }
        .news_box .text_box p{
            font-size: 14px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .sns_box img{
            display:block;
            width:40px;
            height:40px;
            float:left;
            margin-top:5px;
            margin-right:3px;
        }
        .sns_box h4{
            color: #365899;
            cursor: pointer;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .sns_box h5{
            font-size: 12px;
        }
        .sns_box span{
            color: #90949c;
            font-size:13px;
        }
        .sns_user {
            width: 100%;
            float: left;
            margin-bottom: 10px;
        }
        .sns_box .text_box p{
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .quote {
        padding-right: 153px;
        padding-left: 3px;
        padding-bottom: 3px;
        margin-top: 15px;
        padding-top: 3px;
        text-align: center;
        }
         span .current {
        border-right: #e0e0e0 1px solid;
        padding-right: 5px;
        border-top: #e0e0e0 1px solid;
        padding-left: 5px;
        font-weight: bold;
        padding-bottom: 2px;
        border-left: #e0e0e0 1px solid;
        color: #aaa;
        margin-right:2px;
        padding-top:2px;
        border-bottom: #e0e0e0 1px solid;
        background-color: #f0f0f0;
        }
        .quote a {
        border-right: #ddd 1px solid;
        padding-right: 5px;
        border-top: #ddd 1px solid;
        padding-left: 5px;
        padding-bottom:2px;
        border-left: #ddd 1px solid;
        color: #aaa;
        margin-right: 2px;
        padding-top:2px;
        border-bottom: #ddd 1px solid;
        text-decoration: none;
    }
        .quote a:hover {
        border-right: #a0a0a0 1px solid;
        padding-right: 5px;
        border-top: #a0a0a0 1px solid;
        padding-left: 5px;
        padding-bottom:2px;
        border-left: #a0a0a0 1px solid;
        margin-right: 2px;
        padding-top:2px;
        border-bottom: #a0a0a0 1px solid;
    }
