{% extends "base.html" %}
{% block module_title %}社会活动分析{% endblock %}

{% block head_css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="/static/css/emergency.css" />
    <link rel="stylesheet" href="/static/css/j-select.css" />
{% endblock head_css %}

{% block head_js %}
    <!--<script src="/static/css/js/echarts-all.js"></script>-->
    <script src="/static/echarts/echarts.js"></script>
{% endblock head_js %}

{% block content %}

<div style="margin-top:70px;">
  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span id="relation_href" style="float:right;cursor:pointer;"></span>最新资讯</div>
      </div>
      <div class="panel-body">
        <div class="form">
          <div class="cata_name">通道：</div>  
            <select id="channel" class="select">
              <option value="全部">全部</option>
              <option value="新闻">新闻</option>
              <option value="facebook">facebook</option>
              <option value="twitter">twitter</option>
            </select>
        </div>                   
        <div class="form">  
          <div class="cata_name">媒体：</div>
            <select id="media" class="select">
              <option value="全部">全部</option>
              <option value="央视新闻">央视新闻</option>
              <option value="人民网">人民网</option>
              <option value="新浪新闻">新浪新闻</option>
            </select>
        </div> 
        <div class="form">  
          <div class="cata_name">类别：</div>
            <select id="catalog" class="select">
              <option value="全部">全部</option>
              <option value="军事">军事</option>
              <option value="政治">政治</option>
              <option value="经济">经济</option>
              <option value="教育">教育</option>
            </select>  
        </div>
        <div class="f-sort">
          <div class="cata_name">排序：</div>
          <a>时间</a><a>热度</a><a>重要性</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span id="relation_href" style="float:right;cursor:pointer;"></span>突发事件</div>
      </div>
      <div class="panel-body">
        <div id="emergency_grah"></div>
      </div>
</div>    
{% endblock content %}
{% block tail_js %}
    <script src="/static/css/js/tab.js" type="text/javascript"></script>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery-nicescroll.js"></script>
    <script src="/static/js/jquery-jSelect.min.js"></script>
    <script src="/static/js/emergency.js"></script>
    <script src="/static/js/emergency_grah.js"></script>
    <script type="text/javascript">
        $(".select").jSelect();
    </script>
{% endblock tail_js %}