{% extends "turkey_base.html" %}
{% block module_title %}人物概览{% endblock %}

{% block head_css %}

<!--定义css-->

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-table.css"/>
  <!-- <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  -->
  <!-- <link rel="stylesheet" href="/static/css/bootstrap-table.css"/> -->
 
 <!--    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap-datetimepicker1.css" /> -->
{% endblock head_css %}
  

{% block head_js %}
{{ super () }}
	<script type="text/javascript" src="../../static/js/jquery.js"></script>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script>

  <!--   
    <script src="/static/js/bootstrap-table.js"></script>
    <script src="/static/js/bootstrap-table-zh-CN.js"></script> -->
    <!-- <script type="text/javascript" src="../../static/js/bootstrap-datetimepicker1.min.js"></script>
    <script type="text/javascript" src="../../static/js/moment.min.js"></script>
	<script type="text/javascript" src="../../static/js/moment-with-locales.min.js"></script> -->
    <!-- <script type="text/javascript" src="../../static/js/bootstrap-datetimepicker.js"></script> -->

    	<!-- 跳转到新的页面 -->
  		<script type="text/javascript" >
		/*弹出对话框*/
			function change()
			{
				
				window.open("/news/interview_detail/");
			}		
		</script>
<!-- 起止日期格式 -->
		<script language="javascript" type="text/javascript">
		function check_time_from()
		{
			var datetype=/^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/; 
			var datetype1=/^[0-9]{4}\/[0-9]{1,2}\/[0-9]{1,2}$/; 
		    var time_from= document.getElementById("input_time_from").value;
		                 // console.log(time_from);
		        if (time_from=='') 
		        {
		            alert("开始日期不能为空！");
		        }else if (!(datetype.exec(time_from) || datetype1.exec(time_from)))
		        {
		            alert("对不起,请您按以下格式输入日期:\n2005-5-5或2005/1/1"); 
		        }      
		}

		function check_time_to()
		{
			
		    var datetype=/^[0-9]{4}-[0-9]{1,2}-[0-9]{1,2}$/; 
			var datetype1=/^[0-9]{4}\/[0-9]{1,2}\/[0-9]{1,2}$/; 
		    var time_to= document.getElementById("input_time_to").value;
		                 // console.log(time_from);
		    if (time_to=='') 
		    {
		        alert("截至日期不能为空！");
		    }else if (!(datetype.exec(time_to) || datetype1.exec(time_to)))
		    {
		        alert("对不起,请您按以下格式输入日期:\n2005-5-5或2005/1/1"); 
		    }                		            
		}
		   
		 function check_keyword()
		 {
		 	 var key_word= document.getElementById("key_word").value;
		                 // console.log(time_from);
		        if (key_word=='') 
		        {
		            alert("关键词不能为空！");
		        }  
		 }

		 function check_all()
		 {
		 	 var time_from= document.getElementById("input_time_from").value;
		 	 var time_to= document.getElementById("input_time_to").value;
		 	 var key_word= document.getElementById("key_word").value;
		 	 var country= $('#select_country option:selected') .val();
		 	 var city= $('#select_city option:selected') .val();
		 	 if (time_from==''||time_to==''||key_word==''||country==''||city=='') 
		 	 {
		 	 	alert('信息输入不全，请重新输入!');
		 	 }
		 	 else
		 	 {
		 	 	window.open("/news/interview_detail/");
		 	 }
		 }
		</script>

		
		
<!-- 关键词不能为空 -->
		
   
{% endblock head_js %}

{% block content %}    
<div class="panel panel-primary" style="margin-top:100px;margin-left: 2.5%;width: 95%;">
    <div class="panel-heading" style="background-color:#104F87;border-color: #104F87;">
        <h3 id="outside_accident" class="panel-title">走进出访事件</h3>
    </div>
    <div class="panel-body">

		<div id="content" class="content1">			
		<!--第一个面板显示的内容-->	
		<div id="content1">

			    <!--版面1的左半部分-->	
			<div style="float:left;margin-left:100px;">
				<img src="/static/img/explore.png" width="200px" height="200px" style="">
					
				<p style="margin-left:12%;margin-top:10%;font-size:x-large;font-weight: bold;color:#104F87;">直击出访事件</p>
			</div>

			<div id="content1"> 
				<!--版面1的右半部分-->	
				<div style="float:left;margin-left:30%;">
					<form role="form" style="margin-top:-280px;float:left;margin-left:-30px">
					    

						<div class="container" style="margin-left:5%;margin-top: 70px;">
							<span style="float: left;margin-top: 9px;">请选择领导人出访时间</span>
							<div style="float:left;">

							<p style="margin-left:49px;margin-top: 10px;">From</p>

							<div class='col-md-3' id="date1">
			       				<div class="form-group">
			       				<!--  onchange="window.alert('触发事件，处理事情')" //失去光标时，触发事件并处理
    onkeypress=" if(event.keyCode==13) { window.alert('触发事件，处理事情'); return false;}"   //回车触发事件并处理 -->
    <!-- $("#txt").attr("value"); -->

			        	    		<div class='input-group date'  style="width: 180px;height:40px;margin-left: 80px;margin-top:-80%;float: left;">
			                			<input id="input_time_from" placeholder="2016-11-01或2016/11/01" type='text' class="form-control" onchange="check_time_from();" onkeypress="if(event.keyCode==13){ check_time_from();}" style="height:40px;"  />
			                			
			           		 		</div>
			        			</div>

			        		<p style="float: left;position: relative;margin-left: 630%;margin-top: -40px;width: 30px;">To</p>

			        		<div class='col-md-3' id="date2">
			        			<div class="form-group" style="float:left;">
			            			<div class='input-group date'  style="width: 180px;height:40px;margin-top: -27%;margin-left: 155%;float: left;">
			                			<input id="input_time_to" placeholder="2016-11-20或2016/11/20" type='text' class="form-control" onchange="check_time_to();" onkeypress="if(event.keyCode==13){ check_time_to();}" style="height:40px;" />
			                			<img src="/static/img/star.png" width="10px" height="10px"  style="float:left;margin-left: 110%;margin-top: -30px;">
			            			</div>
			        			</div>
			    			</div>
					</div>

					<!-- <script type="text/javascript">

					    $(function () {
					        $('#datetimepicker_index_from').datetimepicker();
					        $('#datetimepicker_index_to').datetimepicker();
					        $("#datetimepicker_index_from").on("dp.change",function (e) {
					            $('#datetimepicker_index_to').data("DateTimePicker").minDate(e.date);
					        });
					        $("#datetimepicker_index_to").on("dp.change",function (e) {
					            $('#datetimepicker_index_from').data("DateTimePicker").maxDate(e.date);
					        });
					    });
					</script> -->

				<!-- 	<script type="text/javascript">
						function entersearch()
						{
							var topic_name=document.getElementById("search_name").value;

								if (topic_name==null&&topic_name=="")				
							 {
			 					alert('关键字不能为空');
							 }
						}

					</script> -->

		    			</div>
						</div>

						<div class="form-group" style="width:60%;margin-left:5%;">
							<span style="float: left;margin-left:2%;margin-right: 20px;margin-top: 9px;">请选择访问的地点信息</span>
								<p style="float:left;margin-top:10px;margin-left:30px;">国家</p>
						        <select id="select_country" class="form-control input-lg" style="width: 25%;height: 40px;float:left;margin-left:20px;">
						                <option value="1">土耳其</option>
						                <option value="">美国</option>
						                <option value="">德国</option>
						                <option value="">叙利亚</option>
						                <option value="">英国</option>
						                <option value="">法国</option>
						                <option value="">意大利</option>
						                <option value="">澳大利亚</option>
						        </select>

						        <p style="float:left;margin-top:10px;margin-left:10px;margin-right:5px;">城市</p>
						        <select id="select_city" class="form-control input-lg" style="width:25%;height: 40px;margin-left:50px;">
						                <option value="1">伊斯坦布尔</option>
						                <option value="">安卡拉</option>
						                <option value="">阿达纳</option>
						                <option value="">加济安泰普</option>
						                <option value="">马尼萨</option>
						                <option value="">萨姆松</option>
						                <option value="">卡赫拉曼马拉什</option>
						                <option value="">艾登</option>
						                <option value="">迪亚巴克尔</option>
						                <option value="">穆拉</option>
						                <option value="">马尔丁</option>
						                <option value="">萨卡里亚</option><option value="">凡城</option>
						                <option value="">安塔利亚</option>
						                <option value="">巴特曼</option>       

						        </select>
						        <img src="/static/img/star.png" width="10px" height="10px"  style="float:left;margin-left: 93%;margin-top: -30px;">
						</div>

						

						<div class="form-group">
						    <span style="float: left;margin-left:72px;margin-right:50px;margin-top: 9px;">请输入出访相关关键词</span>
						    <input id="key_word" class="form-control  input-lg" type="text" placeholder="请输入访问议题关键词"  onchange="check_keyword();" onkeypress="if(event.keyCode==13){ check_keyword();}" style="width:37.5%;margin-left:10%;height:40px">
						    <img src="/static/img/star.png" width="10px" height="10px"  style="float:left;margin-left: 61%;margin-top: -30px;">
						</div>
			
					        
					        <!-- button默认input的回车事件 -->
					    <linkbutton class="btn btn-primary btn-lg" onclick="check_all()" style="margin-top:30px;margin-left:50%;width: 100px;height: 40px;" > 搜索
					    </linkbutton>

					    <!-- data-toggle="modal" data-target="#myModal"  -->
					</form>
				</div>
			</div>
		</div>
	</div>	   
</div>
</div>


<div class="panel panel-primary" style="margin-top:10px;margin-left: 2.5%;width: 95%;">
    <div class="panel-heading" style="background-color:#104F87;border-color: #104F87;">
        <h3 id="outside_accident" class="panel-title">搜索记录</h3>
    </div>

    <div class="panel-body">
		<table id="keyword_table" class="table table-hover table-condensed"></table>
    </div>
</div>
<!-- 
<div style="width:95%;height:400px;">
	
</div> -->

<!--多条件搜索模态框-->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					给您推荐您可能感兴趣的出访领导人、被访问人和访问议题哦
				</h4>
			</div>
			<div class="modal-body">
				<table class="table">					
				   <thead>
				      <tr>
				         <th>你可能感兴趣的领导人</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr>
				         <td><input type="checkbox">习近平</td>
				         <td><input type="checkbox">习仲勋</td>
				      </tr>
				      
				   </tbody>
				</table>

				<table class="table">
				   <thead>
				      <tr>
				         <th>你可能感兴趣的被访问人</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr>
				         <td><input type="checkbox">艾尔多安</td>
				         <td><input type="checkbox">艾有勤</td>		         
				      </tr>			      
				   </tbody>
				</table>

				<table class="table">
				   <thead>
				      <tr>
				         <th>你可能感兴趣的出访议题</th>
				      </tr>
				   </thead>
				   <tbody>
				      <tr>
				         <td><input type="checkbox">一带一路框架下的互利共赢发展</td>	         
				      </tr>			      
				   </tbody>
				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>

				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1" >
					确认搜索
				</button>
			</div> -->
		<!-- </div> -->
		<!-- /.modal-content -->
	<!-- </div> -->
	<!-- /.modal -->
<!-- </div> -->

<!--确认搜索后弹出的模态框-->
<!-- <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"> </h4>
            </div>
            <div class="modal-body">习近平于2016年11月20日到伊斯坦布尔访问艾尔多安进行访问，访问议题“一带一路框架下的互利共赢发展”</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="change_html()" >查看详情</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ">关闭</button>
            </div> -->
        <!-- </div> -->
        <!-- /.modal-content -->
    <!-- </div> -->
    <!-- /.modal -->
<!-- </div> -->

<!--将导航下拉部分隐藏-->

   <script type="text/javascript">
		window.onload=changetype(); 
		function changetype()
			{
				// console.log('aaaaaa');
				document.getElementById("sub_one").style.display='none';  
  				document.getElementById("sub_two").style.display='none';
  				document.getElementById("sub_three").style.display='none'; 
  				document.getElementById("sub_four").style.display='none'; 
  			}
  				

	</script>

	<!-- 搜索记录表 -->
	<script type="text/javascript">
		// console.log('table');
	    var key_data=[{"begin_time":"2016-01-11","end_time":"2016-10-12","country":"土耳其","city":"安卡拉","keyword":"一带一路","detail":"查看详情"},{"begin_time":"2016-04-11","end_time":"2016-5-12","country":"土耳其","city":"伊斯坦布尔","keyword":"恐怖袭击","detail":"查看详情"}];
			
  			 $('#keyword_table').bootstrapTable({
                  // url:show_key_url,
                  data:key_data,
                  search: true,//是否搜索
                  pagination: true,//是否分页
                  pageSize: 20,//单页记录数
                  pageList: [5, 10, 20, 50],//分页步进值
                  sidePagination: "client",//服务端分页
                  searchAlign: "left",
                  searchOnEnterKey: false,//回车搜索
                  showRefresh: true,//刷新按钮
                  showColumns: true,//列选择按钮
                  buttonsAlign: "left",//按钮对齐方式
                  locale: "zh-CN",//中文支持
                  detailView: false,
                  showToggle:true,
                  sortName:'time',
                  sortOrder:"desc",
                  columns: [  
                 
                    {
                        title: "起始时间",
                        field: "begin_time",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                    {
                        title: "终止时间",
                        field: "end_time",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                    {
                        title: "国家",
                        field: "country",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                    {
                        title: "城市",
                        field: "city",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                    {
                        title: "关键词",
                        field: "keyword",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                       {
                        title: "查看详情",
                        field: "detail",
                        sortable: true,
                        align: "center",//水平
                        valign: "middle",//垂直
                    },
                    
                    ]

             });//table结束
		</script>



{% endblock content %}


