{% extends "turkey_base.html" %}
{% block module_title %}社会活动分析{% endblock %}

{% block head_css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="/static/css/emergency.css" />
     <link rel="stylesheet" href="/static/css/turkey_emergency.css" />
{% endblock head_css %}

{% block head_js %}
  <!--   <script src="/static/js/esl.js"></script> -->
{% endblock head_js %}
{% block content %}

<div style="margin-top:70px;">
  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>事件概述</div>
      </div>
      <div class="panel-body">
        
         <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 25px;height:35px;margin-bottom: 20px;margin-left: 10px;"><b>土耳其军事政变事件</b></p>
      <div class="col-lg-6">
        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;"></div> 
        <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;height:35px;margin-bottom: 10px;"><b>基本情况</b></p>
        <p style="font-size: 14px;margin-top: -1%;margin-bottom: 1%;margin-left: 1%;width: 100%;float:left;">2016年7月15日晚，土耳其武装部队总参谋部部分军官试图发动军事政变。发动政变的军队占领国家广播电台TRT，宣称“已全面接管国家”，军队占领道路及大桥，首都安卡拉传出爆炸声和枪声，有指有坦克和直升机开火。埃尔多安通过网络视频广播说他仍然控制权力，并呼吁国民走上广场和机场抵制政变。正在土耳其西南部度假的他赶回伊斯坦布尔发表演讲，称发动政变者将付出惨重代价。不久，他宣布这场未遂军事政变已结束。</p>
      </div>
      <div class="col-lg-6">
        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;"></div> 
        <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;height:35px;margin-bottom: 10px;"><b>事件起因</b></p>
        <p style="font-size: 14px;margin-top: -1%;margin-bottom: 1%;margin-left: 1%;width: 100%;float:left;">土耳其军方内部派系企图进行政变推翻总统雷杰普·塔伊普·埃尔多安，冀希望达到中断土耳其伊斯兰化的目的。</p>
      </div>
      <div class="col-lg-12">
        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 1%;margin-right: 0.6%;"></div> 
         <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;height:35px;margin-bottom: 10px;margin-top: 1%;"><b>事发时间</b></p>
         <p style="font-size: 14px;margin-left: 1%;width: 90%;">2016年7月15日–2016年7月16日</p>


        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;"></div> 
         <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;height:35px;margin-bottom: 10px;"><b>事发地点</b></p>
        <p style="font-size: 14px;margin-top: -1%;margin-left: 1%;width: 90%;">安卡拉、伊斯坦堡、马尔马里斯以及穆拉</p>

        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;"></div> 
         <p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;height:35px;margin-bottom: 10px;"><b>事件性质</b></p>
        <p style="font-size: 14px;margin-top: -1%;margin-left: 1%;width: 90%;">政治事件</p>
       </div>
      </div>
    </div>
    <!--panel///////////////////-->
  </div>
  <!--col-lg-12///////////////////-->

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>媒体热度</div>
      </div>
      <div class="panel-body">
        <div id="media_hot" style="height:450px;"></div>
      </div>
    </div>
    <!--panel///////////////////-->
  </div>
  <!--col-lg-12///////////////////-->

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>事件趋势</div>
      </div>
      <div class="panel-body" style="padding-top:0px;padding-bottom:10px;">
        <div id="eventprofile" style="height:450px;margin-left:350px;">
          <h2>7月15日 23点</h2>
          <div class="more">
            <span>
              <a></a>
            </span>
          </div>
          <ul id="trend">
            <li>
              <div class="float_1">
                <span class="line"></span>
                <span class="round"></span>
                <span class="line"></span>
              </div>
              <div class="text text2">
                <a href="#"><div class="textShow" style="font-size:14px;">土耳其午夜，激烈冲突着！</div></a>
                <p style="color: #666;">土耳其军方部分军人当地时间15日午夜（北京时间凌晨）宣布接管政权。不过，土耳其总理比纳利·耶尔德勒姆称，政府不会让“这一小撮势力”得逞，将“继续维护土耳其的民主体制”...</br><span style="font-size:11px;"><i>2016-07-16</i>&nbsp;&nbsp;来源：新华网</span></p>
                <div class="editBox"></div>
              </div>
            </li>
            <li>
              <div class="float_1">
                <span class="line"></span>
                <span class="round"></span>
                <span class="line"></span>
              </div>
              <div class="text_left">
                <a href="#"><div class="textShow_left" style="font-size:14px;">土耳其政变已造成161人死亡 近3000人被捕</div></a>
                <p style="color: #666;">土耳其总理耶尔德勒姆16日在记者会上说，15日晚发动的未遂军事政变已造成161人死亡和1440人受伤。目前土耳其政府已掌控局势，共有2839名参与此次军事政变者被逮捕...</br><span style="font-size:11px;"><i>2016-07-16</i>&nbsp;&nbsp;来源：新华网</span></p>
                <div class="editBox_left"></div>
              </div>
            </li>
            <li>
              <div class="float_1">
                <span class="line"></span>
                <span class="round"></span>
                <span class="line"></span>
              </div>
              <div class="text text2">
                <a href="#"><div class="textShow"  style="font-size:14px;">土耳其民众在主要城市抗议军事政变</div></a>
                <p style="color: #666;">据土耳其《每日新闻》报道，数千人１６日晚聚集在土耳其最大城市伊斯坦布尔市中心的塔克西姆广场。他们高唱土耳其国歌，高呼反对军事政变的口号，斥责政变给土耳其带来动荡...</br><span style="font-size:11px;"><i>2016-07-17</i>&nbsp;&nbsp;来源：新华网</span></p>
                <div class="editBox"></div>
              </div>
            </li>
            <li>
              <div class="float_1">
                <span class="line"></span>
                <span class="round"></span>
                <span class="line"></span>
              </div>
              <div class="text_left">
                <a href="#"><div class="textShow_left">土耳其逮捕约6000名涉及未遂政变的军人、法官 </div></a>
                <p style="color: #666;">据土耳其媒体18日报道，目前在伊斯坦布尔市区巡逻的特种部队有1800人，他们在警方配合下在伊斯坦布尔市内数十条街巷巡逻，该市重要设施的安保力量也得到加强...</br><span style="font-size:11px;"><i>2016-07-18</i>&nbsp;&nbsp;来源：新华网</span></p>
                <div class="editBox_left"></div>
              </div>
            </li>
            <li>
              <div class="float_1">
                <span class="line"></span>
                <span class="round"></span>
                <span class="line"></span>
              </div>
              <div class="text text2">
                <a href="#"><div class="textShow">土耳其加强伊斯坦布尔安全警戒</div></a>
                <p style="color: #666;">据土耳其《每日新闻》报道，数千人16日晚聚集在土耳其最大城市伊斯坦布尔市中心的塔克西姆广场。他们高唱土耳其国歌，高呼反对军事政变的口号，斥责政变给土耳其带来动荡...</br><span style="font-size:11px;"><i>2016-07-18</i>&nbsp;&nbsp;来源：新华网</span></p>
                <div class="editBox"></div>
              </div>
            </li>
          </ul>
          <ul>
            <li>
              <div class="float_1">
                <span class="roundEnd" style="cursor: pointer;">续</span>
              </div>
            </li>
          </ul>
        </div>
        <!--eventprofile///////////////////-->
      </div>
      <!--panel-body///////////////////-->
    </div>
    <!--panel///////////////////-->
  </div>
  <!--col-lg-12///////////////////-->    
  

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>事件影响</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->
  <div id="content_panel" style="margin-top:10px;">
    <div class="news_box">
      <h4>
        <span><a>中国母女亲历土耳其政变：无论怎样都要活下去</a></span>
      </h4>
      <div class="text_box">
        <p>电动车踏上石板，开业鞭炮噼里啪啦响起，这些寻常的声音，却让23岁的宁波姑娘周伊心惊胆战。在艰难的倒时差睡眠里，昏昏沉沉中，她总忍不住回忆噩梦般的一幕幕：土耳其伊斯坦布尔机场，全副武装的军用坦克从面前驶过，枪声此起彼伏，游客四处惊叫奔跑……</p>
        <h5>
          <a href="" target="_blank">土耳其政变</a>
          <a href="" target="_blank">中国公民</a>
        </h5>
        <h5>
          <i>2016-07-22 07:30</i>
          &nbsp;&nbsp;来源：浙江在线
        </h5>
      </div>
    </div>
    <div class="news_box">
      <h4>
        <span><a>政变之后 土耳其的中资企业还好吗？</a></span>
      </h4>
      <div class="text_box">
        <p>2015年年初就到中电光伏土耳其工厂工作的孙政告诉本报记者，虽然目前工厂生产和销售并没有因为政变事件受到直接影响，但是原计划7、8月正要启动的土耳其1300万美金投资发展项目目前举棋不定……</p>
        <h5>
          <a href="" target="_blank">土耳其政变</a>
          <a href="" target="_blank">中国企业</a>
        </h5>
        <h5>
          <i>2016-07-28 07:30</i>
          &nbsp;&nbsp;来源：新浪财经
        </h5>
      </div>
    </div>
    <div class="news_box">
      <h4>
        <span><a>土耳其政变之夜的中国航班：6个多小时的惊心动魄</a></span>
      </h4>
      <div class="text_box">
        <p>由于事发突然，就在政变发生后不久，土耳其当地时间7月16日深夜零点零四分，一架来自中国南方航空的CZ679次航班在伊斯坦布尔国际机场降落，机上载有146名乘客、18名机组人员……</p>
        <h5>
          <a href="" target="_blank">土耳其政变</a>
          <a href="" target="_blank">南方航空</a>
        </h5>
        <h5>
          <i>2016-08-01 10:30</i>
          &nbsp;&nbsp;来源：央视新闻
        </h5>
      </div>
    </div>
    <div class="quote">
    <a href="#"><</a>
    <span class="current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    ...
    <a href="#">19</a>
    <a href="#">20</a>
    <a href="#">></a>
  </div>
    
  </div>
    <!--content_panel///////////////////-->
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->


   <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>社会反应</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->

      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#turkey" data-toggle="tab">土耳其政府</a></li>
        <li><a href="#west_country" data-toggle="tab">境外媒体</a></li>
        <li><a href="#anti_organize" data-toggle="tab">境外反华组织</a></li>
        
      </ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="turkey"> 
  </div>

  <div class="tab-pane fade" id="anti_organize">
    <div class="news_box">
      <h4>
        <span><a>周本顺涉嫌受贿案 杨栋梁涉嫌受贿贪污案：检察机关依法对两案提起公诉</a></span>
      </h4>
      <div class="text_box">
        <p>埃塞俄比亚国家通讯社9日援引总理海尔马里亚姆的话说，为应对奥罗米亚地区民众示威引发的紧张局势，埃塞进入为期6个月的国家紧急状态。</p>
        <h5>
          <a href="" target="_blank">埃塞俄比亚</a>
          <a href="" target="_blank">约旦</a>
          <a href="" target="_blank">伊朗</a>
        </h5>
        <h5>
          <i>2016-10-09 16：30</i>
          &nbsp;&nbsp;来源：央视新闻
        </h5>
      </div>
    </div>    
  </div>
    <!--anti_organize///////////////////-->
    <div class="tab-pane fade" id="west_country">    
  </div>
    <!--west_country///////////////////-->
    <div class="quote">
    <a href="#"><</a>
    <span class="current">1</span>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    ...
    <a href="#">19</a>
    <a href="#">20</a>
    <a href="#">></a>
  </div>
</div>
<!--tab_content///////////////////-->
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->


   <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>可利用资源</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->
  <div id="content_panel" style="margin-top:10px;">
  </div>
    <!--content_panel///////////////////-->
    <div style="width:80%;margin-left:30px;float:left;">
      <p><h4 style="margin-left:350px;">中国驻土耳其机构</h4></p>
       <div id="related_people"  style="width:100%"></div>
    </div>
    <div style="width:80%;margin-left:30px;float:left;">
      <p><h4 style="margin-left:350px;">土耳其政府部门</h4></p>
       <div id="economic_people"  style="width:100%"></div>
    </div>
    <div style="width:80%;margin-left:30px;float:left;">
      <p><h4 style="margin-left:350px;">土耳其商会</h4></p>
       <div id="econo_organize"  style="width:100%"></div>
    </div>
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->
</div>
<!--div 容器///////////////////--> 
{% endblock content %}
{% block tail_js %}
{{ super () }}
    <script src="/static/css/js/tab.js" type="text/javascript"></script>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/echarts-all.js"></script>
    <script src="/static/js/turkey_emergency.js"></script>
    <script src="/static/js/media.js"></script>
{% endblock tail_js %}