{% extends "base.html" %}
{% block module_title %}社会活动分析{% endblock %}

{% block head_css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css">

    <link rel="stylesheet" href="/static/css/emergency.css" />
{% endblock head_css %}

{% block content %}

<div style="margin-top:70px;">

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>媒体热度</div>
      </div>
      <div class="panel-body">
        <div id="media_hot" style="height:450px;"></div>
      </div>
    </div>
    <!--panel///////////////////-->
  </div>
  <!--col-lg-12///////////////////-->

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>事件趋势</div>
      </div>
      <div class="panel-body">
        <div id="" style="height:450px;"></div>
      </div>
    </div>
    <!--panel///////////////////-->
  </div>
  <!--col-lg-12///////////////////-->    
  

  <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>事件影响</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->
  <div id="content_panel" style="margin-top:10px;">
    <div class="news_box">
      <h4>
        <span><a>周本顺涉嫌受贿案 杨栋梁涉嫌受贿贪污案：检察机关依法对两案提起公诉</a></span>
      </h4>
      <div class="text_box">
        <p>埃塞俄比亚国家通讯社9日援引总理海尔马里亚姆的话说，为应对奥罗米亚地区民众示威引发的紧张局势，埃塞进入为期6个月的国家紧急状态。</p>
        <h5>
          <a href="" target="_blank">埃塞俄比亚</a>
          <a href="" target="_blank">约旦</a>
          <a href="" target="_blank">伊朗</a>
        </h5>
        <h5>
          <i>2016-10-09 16：30</i>
          &nbsp;&nbsp;来源：央视新闻
        </h5>
      </div>
    </div>
    
    <div class="sns_box">
      <div class="sns_user">
        <img src="/static/img/sns_1.png"/>
        <h4>王天明</h4>
        <span>2016-10-09 10:00</span>
      </div>
      <div class="text_box">
        <p>Got many Asian stuff today that makes me homesick, especially the fan seem like my granny's</p>
        <h5>
         来源：facebook
        </h5>
      </div>
    </div>
  </div>
    <!--content_panel///////////////////-->
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->


   <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>社会反应</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->
  <div id="content_panel" style="margin-top:10px;">
    <div class="news_box">
      <h4>
        <span><a>周本顺涉嫌受贿案 杨栋梁涉嫌受贿贪污案：检察机关依法对两案提起公诉</a></span>
      </h4>
      <div class="text_box">
        <p>埃塞俄比亚国家通讯社9日援引总理海尔马里亚姆的话说，为应对奥罗米亚地区民众示威引发的紧张局势，埃塞进入为期6个月的国家紧急状态。</p>
        <h5>
          <a href="" target="_blank">埃塞俄比亚</a>
          <a href="" target="_blank">约旦</a>
          <a href="" target="_blank">伊朗</a>
        </h5>
        <h5>
          <i>2016-10-09 16：30</i>
          &nbsp;&nbsp;来源：央视新闻
        </h5>
      </div>
    </div>
    
    
    <div class="sns_box">
      <div class="sns_user">
        <img src="/static/img/sns_1.png"/>
        <h4>王天明</h4>
        <span>2016-10-09 10:00</span>
      </div>
      <div class="text_box">
        <p>Got many Asian stuff today that makes me homesick, especially the fan seem like my granny's</p>
        <h5>
         来源：facebook
        </h5>
      </div>
    </div>
  </div>
    <!--content_panel///////////////////-->
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->


   <div class="col-lg-12" >
    <div class="panel panel-default">
      <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
        <div><span style="float:right;cursor:pointer;"></span>可利用资源</div>
      </div>
      <div class="panel-body">
        <!--媒体、facebook、twitter展示-->
  <div id="content_panel" style="margin-top:10px;">
    <div class="news_box">
      <h4>
        <span><a>周本顺涉嫌受贿案 杨栋梁涉嫌受贿贪污案：检察机关依法对两案提起公诉</a></span>
      </h4>
      <div class="text_box">
        <p>埃塞俄比亚国家通讯社9日援引总理海尔马里亚姆的话说，为应对奥罗米亚地区民众示威引发的紧张局势，埃塞进入为期6个月的国家紧急状态。</p>
        <h5>
          <a href="" target="_blank">埃塞俄比亚</a>
          <a href="" target="_blank">约旦</a>
          <a href="" target="_blank">伊朗</a>
        </h5>
        <h5>
          <i>2016-10-09 16：30</i>
          &nbsp;&nbsp;来源：央视新闻
        </h5>
      </div>
    </div>
    
    
    <div class="sns_box">
      <div class="sns_user">
        <img src="/static/img/sns_1.png"/>
        <h4>王天明</h4>
        <span>2016-10-09 10:00</span>
      </div>
      <div class="text_box">
        <p>Got many Asian stuff today that makes me homesick, especially the fan seem like my granny's</p>
        <h5>
         来源：facebook
        </h5>
      </div>
    </div>
  </div>
    <!--content_panel///////////////////-->
  </div>
  <!--panel_body///////////////////-->
</div>
<!--panel///////////////////-->
</div>
<!--col-lg-12///////////////////-->
</div>
<!--div 容器///////////////////--> 
{% endblock content %}
{% block tail_js %}
    <script src="/static/css/js/tab.js" type="text/javascript"></script>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <!-- Bootstrap core JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/echarts-all.js"></script>
    <script src="/static/js/turkey_emergency.js"></script>
{% endblock tail_js %}