{% extends "turkey_base.html" %}
{% block module_title %}土耳其信息{% endblock %}

{% block head_css %}


    <style type="text/css">
        /*
         * Base structure
         */

        /* Move down content because we have a fixed navbar that is 50px tall */
        /*body {
            padding-top: 60px;
            font-family: Arial,"Microsoft YaHei","微软雅黑","WenQuanYi Micro Hei","文泉驿微米黑",STXihei,"华文细黑",sans-serif;
            font-size: 12px;
            background-color: #ebebeb;
        }
        body, form, ul, ol, li, h1, h2, h3, h4, h5, h6, p, dl, dd, td, th, input, img {
            margin: 0;
            padding: 0;
        }*/
        #overview{
            width: 1100px;
		    margin: 0 auto;
		    background-color: white;
		    margin-left: 16px;
		    margin-top: 60px;
		    float: left;

            

        }
        #overview p {
            margin-bottom:10px;
        }

        .open a, a, a:hover {
            text-decoration: None;
        }

        a:hover {
            /*text-decoration:underline;*/
            color:blue;

        }

        ul, ol, li {
            list-style: none;
        }
        .panel-body div{
            /*float:left;*/
        }
        .panel-heading div{
            font-size: 22px;
            font-family: Microsoft YaHei;
        }
        table th, td{
            text-align: center;
            height: 30px;
            line-height: 50px;
        }
        .list-group a{
            float: right;
        }
        .shadow {
        -webkit-box-shadow:5px 6px 3px #ABA8A8;
        -moz-box-shadow:5px 6px 3px #ABA8A8;
        box-shadow:5px 6px 3px #ABA8A8;
    }
    .panel-heading {
        background-color: #78748C;
        color: white;
    }
    .personal_domain {
        height: 35px;
    }
    .personal_domain b{
        font-family: Microsoft YaHei;color: #104F87;font-size: 16px;
    }
    .personal_domain span{
        padding: 10px;
        background-color: #45b8b3;
        color: white;
        border-radius: 4px;
        margin:5px;
    }
    #hanhan , #wuyuan{
        padding: 10px;
        background-color: #43b6af;
        color: white;
        border-radius: 4px;
        margin:12px;
        margin-right: 10px;
    }
    #comment ul li {
        line-height: 25px;
        height:80px;
    }
    .personal_domain a{
        color: #2a6496;
    }
    .menu_overview{
        float: left;
    background-color: #3379b7;
    margin-left:30px;
    height: 51px;
    color: white;
    width: 100px;
    padding: 18px;
    font-size: 15px;
    }
    .keywords_cloud_div a:hover{
        color:blue;

    }

    .right_col{
    	float: left;
        padding-top: 40px;
        margin-top: 30px;
        margin-left: 25px;
        width: 20%;
        height: 340px;
        height: screen.height;
        background-color: #ffffff;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }

    .right_col_title{
	    width: 100%;
		height: 30px;
		margin-top: -20%;
		background-color: #CCCCCC;
    }

    .right_col_zhengzhi{
    	float: left;
        padding-top: 40px;
        margin-top: 30px;
        margin-left: 96px;
        width: 20%;
        height: 400px;
        height: screen.height;
        background-color: #ffffff;
        border-bottom: 1px solid #CCCCCC;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
    }

    </style>
    {% endblock head_css %}

    {% block head_js %}
        <!-- JQuery core JS -->
    <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>

    <!-- Bootstrap core JS -->
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='js/datarangepiker.js') }}"></script>

    <script src="{{ url_for('static', filename='js/highstock.js') }}"></script>
    <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
    <!--<script src="/static/css/js/echarts-all.js"></script>-->
    <script src="/static/echarts/echarts.js"></script>
{% endblock head_js %}

{% block content %}

        <div id="overview" >

            <div class="shadow" style="border-radius: 10px;float: left;padding:15px;border: 4px solid #104F87;margin: 15px;width: 97%;">
                <div id = "porphoto" style="width:105px;float:left;margin-top: 0.4%;margin-left: -1%;">
                    <p style="margin-top: 5.3%;font-family: Microsoft YaHei;color: #104F87;font-size: 24px;margin-left: 11%;" >Turkey</p>
                    <span class="img-photo" style="margin-left:1%;margin-top:0px;margin-bottom:10px;display:block;float:left;"><img id="turkey_img" src="/static/img/turkey/turkey.png" alt="Photo" width="100" height="70"></span>
                </div>
                <div style="float:left;width:675px;margin-left: 1%;">
                    <p style="font-size:16px;">
                        <!-- <b>{{topic}}</b> -->
                        
                        <!-- <a id="alert_png" href="/cluster/?query=冯骥才&subevent_id=global"><img src="../../static/img/warning2.png" width="20px" style="margin-left: 1px;margin-bottom: 5px;" title="有舆情事件，请点击查看"></a> -->
                    </p>

                    <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                    <p class="personal_domain"><b>人口地理</b>
                    <!-- <span>当代著名作家</span> <span> 文学家</span><span> 艺术家</span> -->
                    </p>
                    <p style="font-size: 14px;margin-top: -2%;">
                        土耳其共和国，简称土耳其，现有人口78,741,053人，是一个横跨欧亚两洲的国家，北临黑海，南临地中海，东南与叙利亚、伊拉克接壤，西临爱琴海，并与希腊以及保加利亚接壤，东部与格鲁吉亚、亚美尼亚、阿塞拜疆和伊朗接壤。土耳其地理位置和地缘政治战略意义极为重要，是连接欧亚的十字路口。
                    </p>

                    <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                    <p class="personal_domain"><b>行政区域</b>
                    <a href="">查看详情</a>
                    </p>
                    <p style="font-size: 14px;margin-top: -2%;">土耳其行政区划等级为省、县、乡、村。全国共分为81省、约600个县、3.6万多乡村。</p>
                    
                    <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                    <div class="personal_domain"><b>机构设置</b>
                    <a href="">查看详情</a>
                    </div>
                    <p style="font-size: 14px;margin-top: -0.5%;margin-bottom: 3%;">
                        政府机构：总统府、大国民议会、总理府、总参谋部、司法部、国防部、内政部、外交部、财政部、教育部、环境部、卫生部、交通、航运和通讯部、食品、农业和畜牧业部、劳动和社会保障部、科学、工业和技术部、能源和自然资源部、文化旅游部、森林和水利部、家庭和社会政策部、欧盟事务部、经济部、青年与体育部、海关和贸易部、发展部。
                    </p>
                    <p style="font-size: 14px;margin-top: -0.5%;margin-bottom: 3%;">
                         强力部门：对外情报机构：国家情报组织（英语：National Intelligence Organization、土耳其语：Millî İstihbarat Teşkilatı, MİT）、对内情报机构：公共秩序及安全部。（ 英语：Undersecretariat of Public Order and Security、土耳其语：Kamu Düzeni ve Güvenliği Müsteşarlığı（KDGM ））、土耳其安全总局。

                    </p>

                    
                </div>

                <div class="right_col" style="">
                	<div class="right_col_title">
                		<div style="margin-top: 2.3%;margin-left: 5%;float:left">
                			<p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;">其他人还在看</p>
                		</div>
                		<div style="margin-top: 0%;margin-left: -1%;float：left;" >
                       
                           <img id="yilang_img" src="/static/img/turkey/yilang.png" alt="Photo" style="float：left;width:80px;height: 60px;margin-top: 20%;margin-left: -45%;">
                           <p style="margin-left:0%;margin-top: 0%;width: 100%;" ><a href="http://baike.baidu.com/link?url=DyeVveVUww4ea_KOLwiAUT81KqXm1Iey1MBI4slgwFlEbdLNtMjYw2FX6YAB8vSC_aergr2tsoLXQ6kzg0vqVPKVA2GA9Yed0tgjZ_QnZK_" style="font-size: 12px;margin-top: 0%;float：left;margin-left: 18%;">伊朗</a></p>
                        
                       </div>

                       <div style="margin-top: 0%;margin-left: -1%;float：left;margin-top: -44.2%;margin-left: 49%;" >
                       
                           <img id="ruassia_img" src="/static/img/turkey/ruassia.png" alt="Photo" style="float：left;width:80px;height: 60px;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;">
                           <p style="margin-left:0%;margin-top: 0%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: 0%;float：left;margin-left: 18%;">俄罗斯</a></p>
                        
                       </div>
                       <div style="margin-top: 0%;margin-left: -1%;float：left;" >
                       
                           <img id="shatealabo_img" src="/static/img/turkey/shatealabo.png" alt="Photo" style="float：left;width:80px;height: 60px;margin-left: 9%;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;">
                           <p style="margin-left:0%;margin-top: 0%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: 0%;float：left;margin-left: 18%;">沙特阿拉伯</a></p>
                        
                       </div>

                       <div style="margin-top: 0%;margin-left: -1%;float：left;margin-top: -44.2%;margin-left: 49%;" >
                       
                           <img id="yiselie_img" src="/static/img/turkey/yiselie.png" alt="Photo" style="float：left;width:80px;height: 60px;border-bottom: 1px solid #CCCCCC;border-top: 1px solid #CCCCCC;border-left: 1px solid #CCCCCC;border-right: 1px solid #CCCCCC;">
                           <p style="margin-left:0%;margin-top: 0%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: 0%;float：left;margin-left: 18%;">以色列</a></p>
                        
                       </div>
                		
                	</div>
                	
                </div>
            </div>
            
            
            <div class="col-lg-12" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
                        <div>
                        <img id="political_img" src="/static/img/turkey/political.png" alt="Photo" style="width: 30px;height: 25px;margin-top: -0.5%;">
                        <!-- <span id="relation_href" style="float:right;cursor:pointer;"><u>查看详情</u></span> -->政治</div>
                    </div>
                    <!-- 历任总统 -->
                    <div class="panel-body" style="float: left;">
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                        <p class="personal_domain"  ><b style="margin-left:2%;" >历任总统</b>
                        <!-- <span>当代著名作家</span> <span> 文学家</span><span> 艺术家</span> -->
                        </p>
                        
                        <p style="font-size: 14px;margin-top: -1%;">任期：5年</p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">5年</p> -->
                        <p style="font-size: 14px;margin-top: -1%;">首任总统：<a href="http://baike.baidu.com/view/1059820.htm?fromtitle=%E7%A9%86%E6%96%AF%E5%A1%94%E6%B3%95%C2%B7%E5%87%AF%E6%9C%AB%E5%B0%94%C2%B7%E9%98%BF%E5%A1%94%E5%9B%BE%E5%B0%94%E5%85%8B&fromid=4255894&type=syn">穆斯塔法·凯末尔·阿塔图尔克</a></p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">穆斯塔法·凯末尔·阿塔图尔克 </p> -->
                        <p style="font-size: 14px;margin-top: -1%;">现任总统：<a>雷杰普·塔伊普·埃尔多安</a></p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">雷杰普·塔伊普·埃尔多安 </p> -->
                       <div>
                      
                           <img id="zongtong_1_img" src="/static/img/turkey/zongtong_1.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 3%;margin-left: 1%;">
                           <p style="margin-left:45%;margin-top: -48%;width: 100%;" ><a href="http://baike.baidu.com/view/158815.htm" style="font-size: 12px;margin-top: -1%;float：left;">雷杰普·塔伊普·埃尔多安</a></br>在任时间：2014.08-至今</br>出生日期：1954年2月26日</br>外文名：Recep Tayyip Erdogan</br>所属党派：<a href="">正义与发展党</a></br>毕业院校：马尔马拉大学经贸学院</p>

                       </div>
                       <div style="margin-top: 16%;margin-left: -1%;" >
                       
                           <img id="zongtong_2_img" src="/static/img/turkey/zongtong_2.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 3%;margin-left: 1%;">
                           <p style="margin-left:45%;margin-top: -47%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">阿卜杜拉·居尔</a></br>在任时间：2007.08-2014.08</br>出生日期：1950年10月29日</br>外文名：Abdullah Gul/Abdullah Gül</br>所属党派：<a href="">正义与发展党</a></br>毕业院校：伊斯坦布尔大学经济学院</p>
                             
                             

                       </div>
                       <div style="margin-top: 16%;">
                           
                          
                           <img id="zongtong_3_img" src="/static/img/turkey/zongtong_3.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 3%;margin-left: 1%;">
                           <p style="margin-left:45%;margin-top: -47%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">阿赫迈特·内吉代特·塞泽尔</a></br>在任时间：2000.05-2007.08</br>出生日期：1941年3月13日</br>外文名：Ahmet Necdet Sezer</br>所属党派：其他</br>毕业院校：安卡拉大学法学院</p>
                             
                       </div>
                       <div style="margin-top: 6%;margin-left: 1%;">
                           
                           <a href="">查看所有总统</a>
                       </div>
                       
                    </div>
                   <!-- 历任总理 -->

                    <div class="panel-body" style="margin-left: 20%;float:left">
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                        <p class="personal_domain"><b style="margin-left:2%;" >历任总理</b>
                        <!-- <span>当代著名作家</span> <span> 文学家</span><span> 艺术家</span> -->
                        </p>
                        
                        <p style="font-size: 14px;margin-top: -1%;">任期：1~3年</p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">5年</p> -->
                        <p style="font-size: 14px;margin-top: -1%;">首任总理：<a>伊斯梅特·伊纳尼</a></p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">穆斯塔法·凯末尔·阿塔图尔克 </p> -->
                        <p style="font-size: 14px;margin-top: -1%;">现任总理：<a>毕纳利·耶尔德勒姆</a></p>
                        <!-- <p style="font-size: 14px;margin-top: -2%;">雷杰普·塔伊普·埃尔多安 </p> -->
                      
                       
                       <div>
                           
                           <img id="zongli_1_img" src="/static/img/turkey/zongli_1.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 3%;margin-left: 1%;">
                           <p style="margin-left:37%;margin-top: -39%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">毕纳利·耶尔德勒姆</a></br>在任时间：2016.05-至今</br>出生日期:1955年12月20日</br>外文名：Binali Yıldırım</br>所属党派：<a href="">正义与发展党</a></br>毕业院校:伊斯坦布尔理工大学海事学院/世界海事大学</p>

                       </div>
                       <div style="margin-top: 16%;margin-left: -1%;" >
                       
                           <img id="zongli_2_img" src="/static/img/turkey/zongli_2.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: -1%;margin-left: 2%;">
                           <p style="margin-left:38%;margin-top: -39%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">艾哈迈德·达乌特奥卢</a></br>在任时间：2014.08-2016.05</br>出生日期:1959年2月26日</br>外文名：Ahmet Davutoglu</br>所属党派：<a href="">正义与发展党</a></br>毕业院校:海峡大学（Boğaziçi University）</p>
                             

                       </div>
                       <div style="margin-top: 16%;">
                           <img id="zongli_3_img" src="/static/img/turkey/zongtong_1.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 3%;margin-left: 1%;">
                           <p style="margin-left:38%;margin-top: -39%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">雷杰普·塔伊普·埃尔多安</a></br>在任时间：2003.03—2014.08</br>出生日期：1954年2月26日</br>外文名：Recep Tayyip Erdogan</br>所属党派：<a href="">正义与发展党</a></br>毕业院校：马尔马拉大学经贸学院</p>
                           
                       </div>
                       <div style="margin-top: 6%;margin-left: 1%;">
                           
                           <a href="">查看所有总理</a>
                       </div>
                       
                    </div>
                    
                     <!-- 政治右侧栏 -->
                    <!-- <div class="right_col_zhengzhi" style="">
	                	<div class="right_col_title">
	                		<div style="margin-top: 2.3%;margin-left: 5%;float:left">
	                			<p style="font-family: Microsoft YaHei;color: #104F87;font-size: 16px;">其他人还在看</p>
	                		</div>
	                		<div style="margin-top: 0%;margin-left: -1%;float：left;" >
	                       
	                           <img id="pujing_img" src="/static/img/turkey/pujing.png" alt="Photo" style="float：left;width: 80px;height: 100px;margin-top: 19%;margin-left: -43%;">
                       			<p style="margin-left:22%;margin-top: -1%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">普京</a></p>
	                        
	                       </div>

	                       <div style="margin-top: 0%;margin-left: -1%;float：left;margin-top: -60.2%;margin-left: 49%;" >
	                       
	                           <img id="hamei_img" src="/static/img/turkey/hamei.png" alt="Photo" style="float：left;width:80px;height: 100px;">
	                           <p style="margin-left:0%;margin-top: 0%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: 0%;float：left;margin-left: 18%;">哈梅内伊</a></p>
	                        
	                       </div>
	                		
	                	</div>
                	
                	</div> -->

                	<div style="margin-top: 62%;">
                		<div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: -76.3%;margin-top: 0%;margin-right: 0.6%;" ></div>
                        <p class="personal_domain"><b style="margin-left: -75%;">政治制度</b>
                             <p style="font-size: 14px;margin-top: -1%;margin-left: 3%;">以世俗主义为基础的议会共和制。<br>土耳其以世俗主义为指导，力图建设一个现代化的世俗国家，严禁宗教以任何形势干预政治。土耳其的国体是议会共和制，政体为议会制代民主制，国家特征为民主的、世俗的法治国家；致力于民族团结、社会安定和正义；尊重人权，忠于凯末尔主义；实行三权分立的政治制度，大国民议会为最高立法机构，宪法法院为最高司法机构，总理行使最高行政权。</p>
	                    
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;margin-left: 1.3%;margin-top: 0%;margin-right: 0.6%;" ></div>
                        <p class="personal_domain"><b>重要政党</b>

                            <div style="float:left;">
                           
                               <img id="zhengyidang_img" src="/static/img/turkey/zhengyidang.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 0%;margin-left: 7%;">
                               <p style="margin-left:59%;margin-top: -59%;width: 100%;" ><a href="http://baike.baidu.com/view/3367393.htm" style="font-size: 12px;margin-top: -1%;float：left;">正义与发展党</a></br>创立人：<a href="">雷杰普·塔伊普·埃尔多安</a></br>创立时间:2001年8月14日</br>外文名：Adalet ve Kalkınma Partisi</br>现任主席：<a href="">毕纳利·耶尔德勒姆</a></br><a href="">大国民议会</a>占有席位：317 / 550</p>

                           </div>
                           <div style="margin-top: 1%;margin-left: 18%;float:left;" >
                           
                               <img id="gonghedang_img" src="/static/img/turkey/gonghedang.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: -1%;margin-left: 65%;">
                               <p style="margin-left:125%;margin-top: -64%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">共和人民党</a></br>创立人：<a href="">拉赫桑·埃杰维特</a></br>创立时间:1985年11月14日</br>外文名：Democratic Left Party</br>现任主席：<a href="">凯末尔·科勒齐达奥卢</a></br><a href="">大国民议会</a>占有席位：134 / 550</p>
                                 
                           </div>

                           <div style="float:left;margin-top: 14%;margin-left: -53%;" >
                           
                               <img id="minzhudang_img" src="/static/img/turkey/minzhudang.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: 0%;margin-left: 0%;">
                               <p style="margin-left:50%;margin-top: -56%;width: 100%;" ><a href="http://baike.baidu.com/view/3367393.htm" style="font-size: 12px;margin-top: -1%;float：left;">人民民主党</a></br>创立人：具体不详</br>创立时间:2012年8月12日</br>外文名：Halkların Demokratik Partisi</br>现任主席：<a href="">塞拉哈丁·德米尔塔什</a></br><a href="">大国民议会</a>占有席位：59 / 550</p>
                                 
                           </div>

                           <div style="margin-top: 14%;margin-left: -15.5%;float:left;" >
                           
                               <img id="minzudang_img" src="/static/img/turkey/minzudang.png" alt="Photo" style="float：left;width: 100px;height: 120px;margin-top: -1%;margin-left: 57%;">
                               <p style="margin-left:119%;margin-top: -66%;width: 100%;" ><a href="" style="font-size: 12px;margin-top: -1%;float：left;">民族行动党</a></br>创立人：<a href="">拉赫桑·埃杰维特</a></br>创立时间:1985年11月14日</br>外文名：Democratic Left Party</br>现任主席：<a href="">德夫莱特·巴赫切利</a></br><a href="">大国民议会</a>占有席位：40 / 550</p>

                           </div>

                         
                               <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: -54.6%;margin-top: 27.5%;margin-right: 0.6%;" ></div>
                                <p class="personal_domain" style="margin-top: 28.5%;"><b>政治局势</b>
                                    <p style="font-size: 14px;margin-top: -1%;margin-left: 3%;width: 90%;">当前局势：政局相对稳定，政变失败后，军方在土耳其国内的政治领域的影响力将被终结。另一方面，执政的正义与发展党力量强大，有较强的民意基础</p>
                                    <p style="font-size: 14px;margin-top: -1%;margin-left: 3%;width: 90%;">未来局势：未遂政变给了埃尔多安一个难得的清洗异己的机会，能够加快政体转变的速度，从而达到政教合一的目的。土耳其将会更加趋于保守，而只要这个保守政策能够成功，随之也必将会给土耳其带来相对稳定的一段时间。</p>
                           
	                    

                	</div>
                      
                </div>
            </div>
            <div class="col-lg-12" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
                        <div>
                        <!-- <span id="act_href" style="float:right;cursor:pointer;"><u>查看详情</u></span> -->
                        经济
                        </div>
                        
                    </div>
                    <div class="panel-body">
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: 0%;"><b>概述</b>
                                        <p style="font-size: 14px;margin-top: -1%;margin-left: 1%;width: 90%;">土耳其的大部分自由市场经济由其工业和服务业所推动，尽管其传统农业仍占就业的25％左右。积极的私有化计划减少了国家在基础工业，银行，运输和通信方面的干预。一个新兴的中产阶级企业家阶层为其经济注入了动力，扩大了除传统纺织品和服装以外的产品。汽车，石油化工和电子工业的重要性逐步上升，在土耳其的出口商品结构中超过了纺织品。
                                        2006年5月，开通巴库 - 第比利斯 - 杰伊汉石油管道，标志着一个重大里程碑，每天由里海地区向市场提供100万桶石油。土耳其阿塞拜疆安那托利亚天然气管道（TANAP）的连接，解决了土耳其对进口天然气的依赖，目前满足其98％的能源需求。
                                        土耳其在2001年发生严重的金融危机后，安卡拉政府采取金融和财政改革，作为世界基金组织项目的一部分。此次改革加强了该国的经济基基础，并迎来了一个强劲增长的时代，直到2008年年均增长率达到6％。全球经济情况以及更严格的财政政策使GDP在2009年开始收缩。但土耳其管理完善的金融市场和银行系统帮助该国抵御全球金融危机，GDP在2010年11月大幅回升至9％左右，出口也在危机后恢复正常水平。两家评级机构在2012年和2013年将土耳其的债务升级为投资级别。2014年年底境外直接投资的股票价值接近1,950亿美元。尽管有这些积极的趋势，但GDP增长率在2013年下降到4.4％，2014年下降到2.9％。2014年第四季度增长放缓，这主要是由于国内和欧洲土耳其最重要的出口市场的消费需求疲软。高利率也导致了增长放缓，土耳其在2014年1月大幅增加利率，以加强该国的货币和减少通货膨胀。土耳其在2015年2月降息，以刺激经济增长。
                                        土耳其经济仍然存在显著的弱点。具体来说，土耳其相对较高的经常账户赤字，对结构改革的不明朗承诺，以及土耳其邻近地区的动荡使得其经济容易受到投资者信心不稳定的影响。土耳其仍然过度依赖通过不稳定的短期投资来为其大量经常账目赤字提供资金。</p>
                         <!-- GDP相关条目 -->
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 0%;margin-top: 0%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: 0%;"><b>GDP相关</b>
                                    <div id="gdp_growth" style="float:left;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        <!-- GDP相关图 -->
                                    </div>

                                    <div id="gdp_renjun" style="float:left;margin-left:2%;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        <!-- GDP相关图 -->
                                    </div>
                                    <div id="gdp_ppp" style="float:left;margin-top: 2%;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        <!-- GDP相关图 -->
                                    </div>

                                    <div id="gdp_chuxu" style="float:left;margin-top: 2%;margin-left:2%;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        
                                    </div>

                                    <div id="gdp_anyongtu" style="float:left;margin-top: 2%;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        
                                    </div>

                                     <div id="gdp_anchanye" style="float:left;margin-top: 2%;margin-left:2%;width:48%;height:200px;box-shadow: 0px 0px 5px #ddd inset;">
                                        
                                    </div>


                                    </p>
                        <!-- 进出口相关 -->
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: -98%;margin-top: 23%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: 64.5%;margin-left: -98%;"><b>出口</b>
                                    <div id="chukou_big" style="float:left;width:48%;height:300px;box-shadow: 0px 0px 5px #ddd inset;">
                                        <!-- 出口相关图 -->
                                        <p style="margin-top: 2%;margin-left: 2%;">出口金额：1546亿美元（2015年）、1689亿美元（2014年估计）。</p>
                                        <p style="margin-top: 2%;margin-left: 2%;">出口商品：服装，食品，纺织品，金属制品，运输设备。</p>
                                        <div id="chukou" style="float:left;width:100%;height:200px;">
                                            
                                        </div>
                                    </div>
                                    </p>
                        <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: 2%;margin-top: -4%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: -4%;margin-left: 24%;"><b style="margin-left: 36%;">进口</b>
                                        <div id="jinkou_big" style="float:left;margin-top: -0.4%;margin-left:2%;width:48%;height:300px;box-shadow: 0px 0px 5px #ddd inset;">
                                            <!-- 进口相关图 -->
                                            <p style="margin-top: 2%;margin-left: 2%;">进口金额：2043亿美元（2015年估计）、2325亿美元（2014年估计）。
    </p>
                                            <p style="margin-top: 2%;margin-left: 2%;">进口商品：机械，化工，半成品，燃料，运输设备。</p>
                                            <div id="jinkou" style="float:left;width:100%;height:200px;">
                                                
                                            </div>
                                        </div>
                                    </p>
                         <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: -98%;margin-top: 30.5%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: 31.5%;margin-left: -84%;"><b>国际储备、债务及汇率</b>
                                        <div id="guojichubei_big" style="float:left;margin-top: -0.4%;width:100%;height:400px;box-shadow: 0px 0px 5px #ddd inset;">
                                            <!-- 进口相关图 -->
                                            <p style="margin-top: 2%;margin-left: 2%;">外汇和黄金储备：1183亿美元（2015年12月31日估计）、1273亿美元（2014年12月31日估计）。

    </p>
                                            <p style="margin-top: 2%;margin-left: 2%;">债务-外部：2040亿美元（2014年12月31日估计）、3992亿美元（2013年12月31日估值）。
</p>
                                            <div id="guojichubei" style="float:left;width:80%;height:300px;margin-left: 12%;">
                                                
                                            </div>
                                        </div>
                                    </p>
                         <div style="float:left;width:6px;height:22px;background-color: #104F87;    margin-left: -100%;margin-top: 40%;margin-right: 0.6%;" ></div>
                                    <p class="personal_domain" style="margin-top: 41%;margin-left: -64%;"><b style="margin-top: -2%;">其他经济数据</b>
                                    <table class="table table-bordered">
                                        <caption>边框表格布局</caption>
                                        <thead>
                                            <tr>
                                                <th>名称</th>
                                                <th>城市</th>
                                                <th>密码</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2014年</td>
                                                <td>2015年</td>
                                                
                                            </tr>
                                            <tr>
                                                <td>Sachin</td>
                                                <td>Mumbai</td>
                                                <td>400003</td>
                                            </tr>
                                            <tr>
                                                <td>Uma</td>
                                                <td>Pune</td>
                                                <td>411027</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    </p>
                </div>
            </div>


        </div>

            <div class="col-lg-12" >
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #104F87;color: white;border-bottom: 1px solid transparent;border-color: #104F87;">
                        <div>
                        <!-- <span id="act_href" style="float:right;cursor:pointer;"><u>查看详情</u></span> -->
                        经济
                        </div>
                        
                    </div>
                    <div class="panel-body">
                      <div id="active_type"  style="width:450px;height:300px;float:left;"></div>
                      <div id="subeventpie"  style="width:480px;height:300px;float:left;">
                      <!--<div id="sub_topic"  style="width:450px;height:300px;float:left;">
                      </div>-->
                    </div>
                </div>
            </div>

            
        </div>


        
</div>

<!-- 实际增长率 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_growth'));
       
        var option = {
        title : {
            text: 'GDP相关指标',
           
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['年实际增长率'],
            x: '140'
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['2013年','2014年','2015年']
            }
        ],
        yAxis : [
            {
                type : 'value',
               axisLabel : {
                formatter: '{value} %'
                }
            }
        ],
        series : [
            {
                name:'年实际增长率',
                type:'bar',
                data:[4.2, 2.9, 3.8],
                
            }
        ]
    };
      
            myChart.setOption(option) ; 
     
</script>

<!-- 人均gdp -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_renjun'));
       
        var option = {
        title : {
            text: 'GDP相关指标',
           
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['人均GDP'],
            x: '140'
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['2013年','2014年','2015年']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value} 美元'
                }
            }
        ],
        series : [
            {
                name:'人均GDP',
                type:'bar',
                data:[19500, 19900, 20400],
                
            }
        ]
    };
      
            myChart.setOption(option) ; 
     
</script>

<!-- 购买力平价 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_ppp'));
       
        var option = {
        title : {
            text: 'GDP相关指标',
           
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['购买力平价(PPP)'],
            x: '140'
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['2013年','2014年','2015年']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value} 美元'
                }
            }
        ],
        series : [
            {
                name:'购买力平价(PPP)',
                type:'bar',
                data:[1.589, 1.53, 1.48],
                
            }
        ]
    };
      
            myChart.setOption(option) ; 
     
</script>

<!-- 国民储蓄总额占比 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_chuxu'));
       
        var option = {
        title : {
            text: 'GDP相关指标',
           
        },
        tooltip : {
            trigger: 'axis'
        },
        legend: {
            data:['国民储蓄总额占比'],
            x: '140'
        },
        toolbox: {
            show : true,
            feature : {
                mark : {show: true},
                dataView : {show: true, readOnly: false},
                magicType : {show: true, type: ['line', 'bar']},
                restore : {show: true},
                saveAsImage : {show: true}
            }
        },
        calculable : true,
        xAxis : [
            {
                type : 'category',
                data : ['2013年','2014年','2015年']
            }
        ],
        yAxis : [
            {
                type : 'value',
                axisLabel : {
                    formatter: '{value} %'
                }
            }
        ],
        series : [
            {
                name:'国民储蓄总额占比',
                type:'bar',
                data:[15.6, 14.7, 12.9],
                
            }
        ]
    };
      
            myChart.setOption(option) ; 
     
</script>

<!-- GDP构成按用途 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_anyongtu'));
       
        var option = {
                title : {
                    text: 'GDP构成——按用途',
                    subtext: '数据：2015年',
                    x: '100'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['家庭消费','政府消费','固定资本投资','库存投资','商品和服务出口','商品和服务进口']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'GDP构成——按用途',
                        type:'pie',
                        radius : '55%',
                        center: ['60%', '60%'],
                        data:[
                            {value:68.2, name:'家庭消费'},
                            {value:15.4, name:'政府消费'},
                            {value:19.8, name:'固定资本投资'},
                            {value:0, name:'库存投资'},
                            {value:28.7, name:'商品和服务出口'},
                            {value:-32.1, name:'商品和服务进口'}
                        ]
                    }
                ]
            };
                                
      
            myChart.setOption(option) ; 
     
</script>

<!-- GDP构成按产业 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('gdp_anchanye'));
       
        var option = {
                title : {
                    text: 'GDP构成——按产业',
                    subtext: '数据：2015年',
                    x: '100'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['农业','工业','服务业']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'GDP构成——按产业',
                        type:'pie',
                        radius : '55%',
                        center: ['60%', '60%'],
                        data:[
                            {value:8.1, name:'农业'},
                            {value:27.7, name:'工业'},
                            {value:64.2, name:'服务业'}
                        ]
                    }
                ]
            };
                                
      
            myChart.setOption(option) ; 
     
</script>

<!-- 出口合作伙伴 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('chukou'));
       
        var option = {
                title : {
                    text: '合作伙伴',
                    subtext: '数据：2015年',
                    x: '100'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['德国','英国','伊拉克','意大利','美国','法国','其他']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'合作伙伴',
                        type:'pie',
                        radius : '55%',
                        center: ['60%', '60%'],
                        data:[
                            {value:9.3, name:'德国'},
                            {value:7.3, name:'英国'},
                            {value:5.9, name:'伊拉克'},
                            {value:4.8, name:'意大利'},
                            {value:4.5, name:'美国'},
                            {value:4.1, name:'法国'},
                            {value:64.1, name:'其他'}
                        ]
                    }
                ]
            };
                                
      
            myChart.setOption(option) ; 
     
</script>

<!-- 进口合作伙伴 -->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('jinkou'));
       
        var option = {
                title : {
                    text: '合作伙伴',
                    subtext: '数据：2015年',
                    x: '100'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['中国','德国','俄罗斯','美国','意大利','其他']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true, 
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                series : [
                    {
                        name:'合作伙伴',
                        type:'pie',
                        radius : '55%',
                        center: ['60%', '60%'],
                        data:[
                            {value:12, name:'中国'},
                            {value:10.3, name:'德国'},
                            {value:9.9, name:'俄罗斯'},
                            {value:5.4, name:'美国'},
                            {value:5.1, name:'意大利'},
                            {value:57.3, name:'其他'}
                        ]
                    }
                ]
            };
                                
      
            myChart.setOption(option) ; 
     
</script>

<!-- 汇率变化-->
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('guojichubei'));
       
        var option = {
                title : {
                    text: '汇率变化趋势图',
                    // subtext: '纯属虚构'
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['土耳其里拉-美元']
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {show: true, type: ['line', 'bar']},
                        restore : {show: true},
                        saveAsImage : {show: true}
                    }
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data : ['2011年','2012年','2013年','2014年','2015年']
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel : {
                            formatter: '{value} '
                        }
                    }
                ],
                series : [
                    {
                        name:'土耳其里拉-美元',
                        type:'line',
                        data:[1.675, 1.8, 2.1885, 2.1885, 2.739]
                        
                    }
                ]
            };
                    
                                
      
            myChart.setOption(option) ; 
     
</script>

{% endblock content %}

